@font-face {
    font-family: "kajiro";
    src: url(assets/fonts/Kajiro\ Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100vh;
    width: 100%;
}
#back{
    position: relative;
    height: 100vh;
    width: 100%;
}
#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#top{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}
#workArea{
    height: 100%;
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
    /* border: 1px solid red; */
    position: relative;
}
#nav{
    width: 100%;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}
#navL{
    display: flex;
    align-items: center;
    gap: 40px;
}
#navL img{
    height: 3.5vw;
}
#navR{
    display: flex;
    align-items: center;
    gap: 40px;
}
#nav a{
    pointer-events: all;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.85vw;
    font-weight: 700;
    color: #fff;
}
#content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;
}
#cleft{
    min-width: 50%;
    display: flex;
    flex-direction: column;

}
.elem{
    position: relative;
    color: #fff;
    height: 7.5vw;
    overflow: hidden;
    text-transform: uppercase;
}
.elem h1:nth-child(1){
    top:0;
}
.elem h1{
    line-height: 0.85;
    font-size: 10vw;
    font-family: "kajiro";
    font-weight: 100;
    position: absolute;
    top: 100%;
}
#cleft button{
    cursor: pointer;
    pointer-events: all;
    margin-top: 20px;
    padding: 0.8vw 2.5vw;
    font-size: 3vw;
    font-family: "kajiro";
}

#cright{
    width: 15%;
    padding-top: 10px;
}
#cright div{
    width: 100%;
    height: 120px;
    margin-top: 18px;
    margin-bottom: 27px;
    background-image: url(https://scontent.fdac14-1.fna.fbcdn.net/v/t39.30808-6/305913667_559611302604905_5107373160881159997_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEJGDm-zjcJUG98J2zDBdTLsuLNYObwKney4s1g5vAqdztKY5bPONGuilVgi1lUx8vyYJ6pyozDshTidCWx0Uys&_nc_ohc=HrMoq95PU9IAX-6l_1w&_nc_ht=scontent.fdac14-1.fna&oh=00_AfAmkYiF89rdWSyMZJQ0YnEtayPzoRtcutEjA3XAwWHOuQ&oe=6535AC80);
    background-size: cover;
    background-position: center;
}
#cright p{
    font-size: 11px;
    color: #fff;
    text-align: end;
    margin-bottom: 10px;
}
#cright p:nth-child(3){
    margin-bottom: 60px;
}